In [2]:
import os
import json
import time
import numpy as np
import pandas as pd
from tqdm.auto import tqdm

from tokenizers import Tokenizer
from tokenizers.models import WordLevel
from tokenizers.trainers import WordLevelTrainer
from tokenizers.pre_tokenizers import WhitespaceSplit
from tokenizers.processors import BertProcessing

from transformers import PreTrainedTokenizerFast, LineByLineTextDataset, DataCollatorForLanguageModeling
from transformers import BertConfig, BertForMaskedLM
from transformers import Trainer, TrainingArguments

## Data

In [3]:
data_path = '../data/train_sessions.jsonl'
  
train_sessions = pd.DataFrame()
chunks = pd.read_json(data_path, lines=True, chunksize=100_000)

for e, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    if e < 2:
        # train_sessions = pd.concat([train_sessions, chunk])
        for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        train_sessions = pd.concat([train_sessions, chunk_session])
    else:
        break
        
train_sessions = train_sessions.reset_index(drop=True)
train_sessions.head()

   session      aid             ts    type
0        0  1517085  1659304800025  clicks
1        0  1563459  1659304904511  clicks
2        0  1309446  1659367439426  clicks
3        0    16246  1659367719997  clicks
4        0  1781822  1659367871344  clicks

In [4]:
data_path = '../data/test_sessions.jsonl'
  
test_sessions = pd.DataFrame()
chunks = pd.read_json(data_path, lines=True, chunksize=100_000)

for e, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    if e < 2:
        # train_sessions = pd.concat([train_sessions, chunk])
        for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        test_sessions = pd.concat([test_sessions, chunk_session])
    else:
        break
        
test_sessions = test_sessions.reset_index(drop=True)
test_sessions.head()

    session      aid             ts    type
0  12383433  1542913  1661551200081  clicks
1  12383434     8211  1661551200511  clicks
2  12383435   940546  1661551201055   carts
3  12383435    45443  1661551213043  clicks
4  12383435  1769360  1661551246239  clicks

## Training sequence

In [5]:
aid_seq = train_sessions.sort_values(["session", "ts"]).reset_index(drop=True)
aid_seq["aid_2"] = aid_seq.aid.shift(1)
aid_seq = aid_seq[aid_seq.aid != aid_seq.aid_2]
aid_seq = aid_seq[["session", "aid", "ts", "type"]]
aid_seq["aid"] = aid_seq["aid"].astype(str)
aid_seq = aid_seq.groupby(["session"]).agg(list)["aid"].reset_index()
aid_seq = aid_seq[(aid_seq.aid.apply(len) > 1)].reset_index(drop=True)
aid_seq.head()

   session                                                aid
0        0  [1517085, 1563459, 1309446, 16246, 1781822, 11...
1        1  [424964, 1492293, 910862, 1491172, 424964, 151...
2        2  [763743, 137492, 504789, 137492, 795863, 37834...
3        3  [1425967, 1343406, 1425967, 1343406, 1815570, ...
4        4  [613619, 298827, 383828, 255379, 1838173, 1453...

In [6]:
with open("../data/bert_seq.txt", 'w') as f:
    for aid_list in aid_seq.aid:
        print(" ".join(aid_list), file = f)

## Bert

### Tokenizer

In [12]:
tokenizer = Tokenizer(WordLevel(unk_token="[UNK]"))
tokenizer.pre_tokenizer = WhitespaceSplit()
trainer = WordLevelTrainer(
    min_frequency = 0,
    vocab_size = 30522,
    special_tokens=["[UNK]", "[CLS]", "[SEP]", "[PAD]", "[MASK]"]
)
tokenizer.train(files=["../data/bert_seq.txt"], trainer=trainer)
tokenizer.post_processor = BertProcessing(
    ("[SEP]", 2),
    ("[CLS]", 1)
)
tokenizer = PreTrainedTokenizerFast(
    unk_token = "[UNK]",
    cls_token = "[CLS]",
    sep_token = "[SEP]",
    pad_token = "[PAD]",
    mask_token = "[MASK]",
    tokenizer_object=tokenizer
)

### Dataset

In [13]:
dataset = LineByLineTextDataset(
    tokenizer = tokenizer,
    file_path = "../data/bert_seq.txt",
    block_size = 512  # maximum sequence length
)

data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer, mlm=True, mlm_probability=0.15
)

Creating features from dataset file at ../data/bert_seq.txt

### Model

In [14]:
config= BertConfig(
    vocab_size = 30522,
    hidden_size = 64,
    intermediate_size = 128,
    num_hidden_layers = 4, 
    num_attention_heads = 4,
    max_position_embeddings = 512
)
model = BertForMaskedLM(config)

### Training

In [17]:
training_args = TrainingArguments(
    output_dir = '../src/models',
    overwrite_output_dir = True,
    num_train_epochs = 1,
    per_device_train_batch_size = 64,
    save_steps = 10_000,
    save_total_limit = 2,
)

trainer = Trainer(
    model = model,
    args = training_args,
    data_collator = data_collator,
    train_dataset = dataset
)

PyTorch: setting up devices
The default value for the training argument `--report_to` will change in v5 (from all installed integrations to none). In v5, you will need to use `--report_to all` to get the same behavior as now. You should start updating your code and make this info disappear :-).

In [19]:
%%time
trainer.train()